<body justify-content-center align-items-center>
  <div class="container-orange py-2">
    <div class="row">
      <div class="col-8 pt-2">
        <!-- Contenido izquierdo -->
        <a [routerLink]="['/Administrador']">
          <button class="btn-circle m-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
          </button>
        </a>
      </div>
    </div>

    <div class="row text-center my-4">
      <div class="col">
        <img
          src="assets/Imagenes Empresa/LogoBlanco_App.png"
          style="height: 80px; width: auto"
          alt="Imagen"
          class="image-inside-container"
        />
      </div>
    </div>

    <!-- Mensaje error -->
    <div class="mb-3 px-md-5" *ngIf="existeError" style="color: #3d5057">
      {{ result }}
    </div>
  </div>

  <div class="container-with-shadow"></div>

  <!-- Nombre sala -->
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto text-center">
        <h2
          class="d-inline-block py-3"
          style="color: #3d5057; font-weight: bold"
        >
          {{ miSala.nombre }}
        </h2>

        <button class="btn btn-primary2 float-right mx-2">
          <img
            src="assets/Icons/EditarGris.svg"
            alt="Icono"
            class="icono-svgP"
            (click)="cambiarPag('/CrearSala', 'editar', miSala.idSala, 0)"
          />
        </button>
      </div>
    </div>

    <!-- <div class="row">
        <div class="col">
          <div class="container">
            
          </div>
            <h2 class="text-center py-3" style="color: white; font-weight: bold;">{{miSala.nombre}}</h2>
            <button type="button" class="btn btn-secondary mx-1"> 
              <img src="assets/Icons/Editar.svg" alt="Icono" class="icono-svg2">
              </button>
        </div>    
    </div> -->

    <div class="d-flex justify-content-end">
      <div
        style="
          text-align: right;
          float: right;
          color: #3d5057;
          font-weight: bold;
        "
      >
        Modo: {{ miSala.modoJuego }}
      </div>
    </div>

    <!-- BOTONERA -->
    <div class="row justify-content-end">
      <div class="col-auto">
        <button
          class="btn btn-primary d-flex text-end px-3 my-2"
          (click)="cambiarPag('/Editar_pregunta', 'crear', miSala.idSala, 0)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-plus-circle-fill mx-2 my-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            />
          </svg>

          Nueva pregunta
        </button>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary d-flex text-end px-3 my-2 py-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <img src="assets/Icons/Importar2.svg" alt="Icono" class="icono-svg" />
          Importar preguntas
        </button>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary d-flex text-end px-3 my-2 py-2"
          (click)="exportArchivo()"
        >
          <img src="assets/Icons/Importar2.svg" alt="Icono" class="icono-svg" />
          Descargar formato
        </button>
      </div>
      <!-- <div class="col-auto">
          <button class="btn btn-primary d-flex text-end px-3 my-2" >
            <img  src="assets/Icons/Imagen.svg" alt="Icono" class="icono-svg" >

              Imagen
        </button>
        </div> -->
    </div>

    <!-- INICIO MODAL -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      style="background-color: rgba(0, 0, 0, 0.5)"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">
              Importar Preguntas
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #closeModal
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <strong>Instrucciones:</strong>
              <ol>
                <li>Descargar el formato (archivo excel).</li>
                <li>Ingresar las preguntas.</li>
                <li>Cada pregunta debe tener su opcion correcta.</li>
                <li>Si hay campos vacios no se guardará la pregunta.</li>
                <li>Debe tener mínimo dos opciones y maximo cuatro.</li>
                <li>No se aceptan los caracteres &#60;, &#62; o =</li>
              </ol>
            </div>
            <form class="row g-3 mb-3">
              <div class="col-12">
                <label for="archivoExcel" class="form-label ms-2" style="font-weight: bold;"
                  >Archivo</label
                >
                <input
                style="background-color: white ; color: #3D5057 ;"
                  type="file"
                  class="form-control"
                  (change)="onFileSelected($event)"
                  id="archivoExcel"
                  #valueArchivo
                  accept=".xlsx"
                  required
                />
                <small class="text-danger ms-2" *ngIf="existeErrorArchivo">{{
                  resultArchivo.includes("|")
                    ? resultArchivo.split("|")[1]
                    : resultArchivo
                }}</small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              (click)="importArchivo()"
              class="btn btn-secondary"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary d-none"
              data-bs-dismiss="modal"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN MODAL -->

    <div
      class="my-3 alert alert-warning"
      role="alert"
      *ngIf="existeErrorPregunta"
    >
      {{ resultPregunta }}
    </div>

    <!-- PREGUNTAS -->
    <div class="container" *ngIf="!existeErrorPregunta">
      <div class="row">
        <div class="mx-auto">
          <div class="card my-2" *ngFor="let pregunta of preguntasSala">
            <div class="card-body">
              <div class="row align-items-center">
                <div
                  class="col-sm-12 col-lg-2 align-items-center text-center px-sm-5"
                >
                  <img
                    src="assets/Icons/IconoPregunta.svg"
                    alt="Icono"
                    class="icono-svgP"
                  />
                </div>
                <div
                  class="col-sm-12 col-lg-5 align-items-center text-center text-lg-start my-3"
                >
                  {{ pregunta.nombre }}
                </div>
                <div class="col-sm-12 col-lg-5 text-end">
                  <button
                    type="button"
                    class="btn btn-secondary mx-1"
                    (click)="
                      cambiarPag(
                        '/Editar_pregunta',
                        'editar',
                        miSala.idSala,
                        pregunta.idPregunta
                      )
                    "
                  >
                    <img
                      src="assets/Icons/Editar.svg"
                      alt="Icono"
                      class="icono-svg2"
                    />
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary mx-1 my-2"
                    (click)="confirmEliminar(pregunta.idPregunta)"
                  >
                    <img
                      src="assets/Icons/Basurero.svg"
                      alt="Icono"
                      class="icono-svg2"
                    />
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
  <p-confirmDialog #cd [styleClass]="'col-10 col-md-4'">
    <ng-template pTemplate="footer">
      <button
        type="button"
        class="btn btn-primary me-2"
        pButton
        label="Cancelar"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        class="btn btn-primary"
        label="Aceptar"
        (click)="cd.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>
</body>
