<!-- <app-esperar-jchallengers ></app-esperar-jchallengers>
 --><!-- BOTONES EN FORMA SENOSOIDAL
 -->

  <!-- Modal -->



  <div class="modal-container">
    
    <div class="modal fade mobile-modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div  class="container containerMsj text-center" *ngIf="mostrarEspera" >
        <p id="animated-dots" style="font-size: 15px;">
          Obteniendo Resultados de otros jugadores
        </p> 
      </div>  
      <div class="modal-dialog modal-dialog-centered" style="position: relative;">

        
            <div class="container " style="position: absolute; z-index: 1;">
          <div class="row">
            <div class="modal-content">
              <div>
               <!--  <div class="col">
                  <div class="row">
                    {{countdown}}
                  </div>
                </div> -->
                
                <div class="modal-title m-4 ">
    
                  <div class="row my-2">
                    <div class="col-6 ml-2">
                      {{numPreguntasContestadas+1}}/{{listaDePreguntas.length}}
                    </div>
                    <div class="col-6 te" style="color: orange; text-align: right;">
                      {{countdown}} <strong style="font-size: small;">SEGUNDOS</strong> 
                    </div>
                  </div>
    
                  <div class="row text-center">
                    <div class="col">
                      <h5 style="font-weight: bold;">
                        {{preguntaTexto}}
                      </h5>
                    </div>
                  </div>
                </div>
    
              </div>
                        
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                      <div class="col text-center">
                        <div *ngFor="let miOpcion of actualOpcionList; let i = index">
                          <button type="button" class="btn btn-secondary btn-block text-center my-2"
                            (click)="closeModal(i)"
                            [ngClass]="{'respuesta-correcta': miOpcion.correcta==1 && botonSeleccionado[i], 'respuesta-incorrecta': miOpcion.correcta==0 && botonSeleccionado[i], 
                          }">
                            {{ miOpcion.nombre }} 
                          </button>
                        </div>
                      </div>
                  </div>
      
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="col py-2">
            <div class="row">
              <div  *ngIf="mostrarAlert" class="alert alert-success text-center" role="alert">
                ¡GENIAL!
              </div>
              <div  *ngIf="mostrarWrongAlert" class="alert alert-danger text-center" role="alert">
                
                {{Mensaje_error}}
              </div>
    
            </div>
          </div>      
        </div>  
      </div>  
      
    
    </div>
  
  </div>
  
  <!-- FONDO DEL JUEGO-->
  <body  id="main-body"style="overflow: hidden;">
    <div class="containerFondo"  id="containerFondo" style=" width: 100%;height: 100vh; position: relative; z-index: 0;"> 
      <div class="container" style="width: 100%;height: 100%; position: absolute; z-index: 2;">
        <div class="circle circle-sm circle-md circle-lg">
          <div class="content text-center" style="font-size: 25px; color: orange; font-weight: bold;">
            <div>
              <div [@jugadoresChanged]="animationState" style="font-size: 40px;">
                {{ numerodeJugadores }}
              </div>
              Jugadores
            
            </div>
    
          </div>
        </div>
      </div>
      
      <div id="circle-container" class="container" style="width: 100%;height: 100%; position: absolute; z-index: 4;" *ngFor="let circle of circles; let i = index" [style.left]="circle.left" [style.top]="circle.top">
        
          <div class="container-circle">
            <div class="circle-wrapper">
              
              <div class="circle-Player" style="position: relative;">
                
                <div style="position: absolute;z-index: 1;">  {{ texts[i] }}</div>
               
                <img [src]="mostrarJugadorVivo ? imgJugadorVivo : imgJugadorMuerto" alt="Imagen animada" />
                <img *ngIf="!mostrarJugadorVivo" [src]="imgXEliminado" style="position: absolute;z-index: 2;"/>
              </div>
            </div>
          </div>
        
        
        
        <!-- <div class="container-circle">
          <div class="circle-wrapper">
            <div class="circle-Player">{{ texts[i] }}</div>
          </div>
        </div> -->
      </div> 

  
    </div>

    

    
    
  </body>
   
  
   
   