body {
  background-color: #F0F0F0;
}
.btn-primary {
    background-color: #3D5057;
    border: none;
    font-weight: bold;
  }
  #btnIngresar:active,
  #btnIngresar:focus {
    background-color: #DC8127; /* Naranja */
    border-color: #DC8127; /* Color del borde si deseas cambiarlo también */
    border-radius: 28px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
  }

.card {
    background-color: #F38901;
    border-radius: 25px; 
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2); 

  }
  .card h5 {
    color: #3D5057; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Aplica el estilo en negrita */
    text-decoration: underline; /* Aplica un subrayado */
    text-underline-offset: 12px;
  }
  .card label {
    color: white; /* Cambia el color del texto a blanco */
  }
  
.form-control {
    border-radius: 25px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
  }


  .form-check-input:checked {
    background-color: #3D5057;
    border-color: #3D5057;
}

.rounded-eye {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
}

  