<body>
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-sm-8 mx-auto">
        <div class="card py-5 px-3">
          <div class="card-body">
            <h5
              class="card-title text-center display-4 display-md-2 display-lg-2"
            >
              REGISTRO
            </h5>

            <div class="row">
              <div class="col-8 mx-auto">
                <img
                  src="assets/Imagenes Empresa/LogoBlanco_App.png"
                  class="card-img-top my-5"
                  alt="Logo empresa"
                />
              </div>
            </div>
            <!-- Mensaje error -->
            <div
              class="mb-3 px-md-5"
              *ngIf="existeError && !campo"
              style="color: rgb(255, 255, 255)"
            >
              {{ errorEncontrado }}
            </div>

            <form
              ngNativeValidate
              #form
              (ngSubmit)="form.checkValidity() ? onSubmit() : null"
            >
              <!-- NAME USUARIO -->
              <div class="mb-3 px-md-5">
                <input
                  [(ngModel)]="nuevoUsuario.nombre"
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Ingresa tu nombre y apellido"
                  name="nombreUsuario"
                  required
                />

                <small
                  class="ms-3"
                  *ngIf="existeError && campo === 'nombre'"
                  style="color: rgb(255, 255, 255)"
                  >El nombre
                  <span class="text-lowercase">{{ errorEncontrado }}</span>
                </small>
              </div>

              <!-- MAIL USUARIO -->

              <!-- <div class="mb-3 px-md-5">
                    <input [(ngModel)]="nuevoUsuario.correo" type="email" class="form-control" id="usermail" placeholder="Ingresa tu correo" name="mailUsuario" required>
                  </div> -->

              <!-- PASSWORD USUARIO DPI-->
              <div class="mb-3 px-md-5">
                <div class="input-group">
                  <input
                  [(ngModel)]="nuevoUsuario.contrasena"
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  class="form-control"
                  id="password"
                  placeholder="Ingresa tu DPI"
                  name="passwordUsuario"
                  required
                />

                <div class="input-group-append" >
                  <span class="input-group-text rounded-eye " (click)="togglePasswordVisibility()" style="height: 46px; position: relative;">
                      <i class="fa" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}"></i>
                      
                  </span>
              </div>

                </div>
                
                <small
                  class="ms-3"
                  *ngIf="existeError && campo === 'clave'"
                  style="color: rgb(255, 255, 255)"
                  >El Dpi
                  <span class="text-lowercase">{{ errorEncontrado }}</span>
                </small>
              </div>

              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg px-5"
                  id="btnIngresar"
                  successModal
                >
                  Registrarse
                </button>
              </div>
              <div class="text-center py-2">
                <div class="p" style="color: white">
                  ¿Estas registrado?
                  <strong (click)="onClickCambiar()" style="cursor: pointer"
                    >Login</strong
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
