
<body>  
    <div class="container">
     
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-sm-8 mx-auto">
            <div class="card py-5 px-3">
              <div class="card-body">
               
                <h5 class="card-title text-center display-4 display-md-2 display-lg-2">REGISTRO</h5>
    
                <div class="row">
                  <div class="col-8 mx-auto">
                    <img src="assets/Imagenes Empresa/LogoBlanco_App.png" class="card-img-top my-5" alt="Logo empresa">
                  </div>
                </div>
                <!-- Mensaje error -->
                <div class="mb-3 px-md-5" *ngIf="existeError" style="color: rgb(255, 255, 255);">{{errorEncontrado}}</div>               
    
    
                <form (ngSubmit)="onSubmit()">
                  <!-- MAIL USUARIO -->
                  
                    <div class="mb-3 px-md-5">
                      <input [(ngModel)]="nuevoUsuario.correo" type="email" class="form-control" id="usermail" placeholder="Ingresa tu correo" name="mailUsuario" required>
                    </div>
                     <!-- PASSWORD USUARIO -->
                    <div class="mb-3 px-md-5">
                      <input [(ngModel)]="nuevoUsuario.contrasena" type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña"name="passwordUsuario"  required>
                    </div>
                    <!-- NAME USUARIO -->
                    <div class="mb-3 px-md-5">
                        <input [(ngModel)]="nuevoUsuario.nombre" type="text" class="form-control" id="username" placeholder="Ingresa tu nombre de jugador" name="nombreUsuario" required>
                      </div>
                  
                  
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg px-5" id="btnIngresar" successModal>Ingresar</button>
                  </div>
                  <div class="text-center py-2">
                   <div class="p" style="color: white;">¿Estas registrado?  <strong (click)="onClickCambiar()">Login</strong> </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
       
      </div>
</body>

